#lazyLogo {
  z-index: 2;
  width: 150px;
  /* opacity: .5; */
  height: 90px;
  margin: 30px;

  position: absolute;
}

.navintroduction {
  width: 250px;
  overflow-y: auto;
  max-height: 150px;
  text-align: center;
  margin: 20px; 
  background-color: rgb(248, 248, 248);
  padding: 10px;
}

.usPictures {
  border: 2px solid rgb(0, 0, 0); 
}

#jaredProfile {
  list-style-type: disc;
}

.usNames {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#aboutUsMain {
  display: block;
  background-color: rgb(250, 219, 94);
  border: 2px solid gray;
}

body{
  margin: 0 auto;
  width: 90%;
  background-image:url(../img/background3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#usHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

#aboutUs {
  margin: auto;
  /* margin-left: 20px; */
  font-size: 30px;
  color: rgb(164, 164, 246);
}

#homeBtn {
  margin-top: 20px;
  color: purple;
  font-size: 20px;
  padding: 10px;

}

#aboutUsMain {
  display: block;
  /* justify-content: center; */
  margin: 0 auto;
  position: relative;
  /* width: 100%; */
}

#aboutUsMain div {
  /* margin: 50px;
  width: 300px; */
  display: inline-block;
  text-align: center;
}

#topAboutUs, #bottomAboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
