#resultsTopSection {
  width: 90%;
  text-align: center;
}

#resultsBottomSection {
  margin: 0 auto;
  margin-top: 70px;
  background-color: #7ca5b8;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  height: 460px;
  width: 30%;
}

.resultBookingSection {
  display: flex;
}

#resultsUL {
  /* color: black; */
  /* border: 2px solid black; */
  margin-top:60px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

body {
  background-color: rgba(11, 83, 207);
  background-image:url(../img/background1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  padding-bottom: 75px;
  max-height: 400px;
}

#linkContainer {
  margin-left:250px;
  margin-top: 20px;
  font-size: 20px;
  color:#022235;
}

#resultsP {
  margin: 25px;
  /* border: 1px solid black; */
  font-size: 30px;
}

#indexRedirect, #aboutRedirect {
  background-color: #2c77a3d5;
  color:black;
  margin: 20px;
  text-decoration: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 3px;
}

#vacationName {
  font-weight: bolder;
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  margin-top: 10px;
  color:#000000;
  margin-bottom: 15px;
  text-decoration: underline;
}

#vacationName span {
  text-transform: capitalize;
}


#resultsImg {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
}

#resultName {
 
  color:#013a63;
}
