body {
  background-color: rgb(68, 194, 235);
  max-width: 960;
  margin-left: 30px;
  margin-right: 30px;
}

#img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 45px;
}

footer {
  text-align: center;
  padding-top: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(234, 217, 217);
  color: rgb(141, 135, 135);
  text-align: center;
  font-size: 3rem;
  line-height: 0.9;
  margin-top: 3rem;
  padding-top: 100px;
}


#topAboutUs {
  background-color: rgb(107, 111, 107);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

div>img {
  margin: 45px;
  border-radius: 50%;
}

#bottomAboutUs {
  background-color: rgb(107, 111, 107);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.navintroduction {
  margin-left: 50px;
  width: 100px;
  overflow-y: auto;
  width: 220px;
  max-height: 200px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: larger;
  margin-top: 30px;
}

section>img {
  width: 30%;
  height: 400px;
  margin: 10px;
}

section>img:hover{
  border: 5px solid black;
}
#userName {
  margin-left: 130px;
}

#indexHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#h1Index {
  font-weight: bolder;
  font-size: larger;
  font-size: 30px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 450px;
}

#btnContainer {
  background-color: black;
  margin-top: 150px;
}
