/* // Global Rules */

body {
  background-color: rgba(11, 83, 207);
  background-image:url(../img/background3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 960;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  padding-bottom: 75px;
}


#lazyLogo {
  z-index: 2;
  width: 150px;
  opacity: .5;
  height: 90px;
  margin-bottom: 80px;
  position: absolute;
  left: 50px;
  top: 50px;
}

footer {
 text-align: center;
 width: 100%;
 background-color: rgb(234, 217, 217);
 color: rgb(141, 135, 135);
 text-align: center;
 /* line-height: 0.9; */
} 

<<<<<<< HEAD

/* Index.html Rules */
=======
#bottomAboutUs {
  background-color: rgb(107, 111, 107);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}
>>>>>>> 42c4d8ad44d65b112d17b1cc87b839d4d466dae8

#indexFooter {
  margin-left: 50px;
  background-color: brown;
}

#imgContainer img {
  width: 30%;
<<<<<<< HEAD
  height: 400px;
  object-fit: cover;
=======
  height: 600px;
  margin: 20px;
  margin-top: 80px;
}

h3 {
  text-align: center;
  font-size: larger;
  margin-top: 30px;
}

#vacationPicTwo{
  width: 30%;
  height: 600px;
  margin: 20px;
}


#vacationPicThree {
  width: 30%;
  height: 600px;
>>>>>>> 42c4d8ad44d65b112d17b1cc87b839d4d466dae8
  margin: 20px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
} 

#imgContainer img:hover{
  -webkit-box-shadow: 0px 0px 28px 0px rgba(255, 237, 150, 0.85);;
  -moz-box-shadow: 0px 0px 28px 0px rgba(255, 237, 150, 0.85);;
  box-shadow: 0px 0px 28px 0px rgba(255, 237, 150, 0.85);;
  cursor: pointer;
}

#userName {
  text-align: center;
  margin-bottom: 30px;
}

header {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
}

h1 {
  font-weight: bolder;
  font-size: larger;
  font-size: 52px;
  width: 100%;
  text-align: center;
  padding-top: 75px;
}


#btnContainer {
  margin-top: 50px;
  width: 100%;
}


#viewResultsBtn {
  margin-left: 100px;
  width: 200px;
  height: 30px;
  color: red;
}

#resetBtn {
  margin-left: 100px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  color: red;
}

#indexMain {
  background-color: rgb(0, 204, 255);
  padding: 25px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


legend {
  font-size: 20px;
  margin-left: 600px;
  padding: 20px;
}

label {
  margin-left: 50px;
}

/* About Us Html Rules */

#topAboutUs {
  opacity: .8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#topAboutUs div {
  margin: 50px;
  width: 300px;
}

.subSection {
  height: 400px;
}

#aboutUsMain {
  height: 1350px;
  display: block;
  background-color: rgb(241, 235, 226);
  border: 2px solid gray;
}

#bottomAboutUs {
  background-color: rgb(241, 235, 226);
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.navintroduction {
  margin-left: 50px;
  width: 100px;
  overflow-y: auto;
  width: 100%;
  margin-left: 15px;
  max-height: 200px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#homeBtn {
  float: right;
  margin-top: 50px;
  margin-left: 310px;
}

.usPictures {
  width: 100%;
  height: 320px;
  border-radius: 20%;
  border: 2px solid rgb(0, 0, 0); 
}

#aAboutUsLink {
  float: right;
  width: 300px;
  height: 30px;
  color: red;
}

.usNames {
  text-align: left;
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 30px;
}

<<<<<<< HEAD
h2 {
  font-size: 24px;
  margin-bottom: 20px;
=======
#aboutUs {
  font-size: 50px;
  margin-left: 440px;
  margin-top: 50px;

label {
margin: auto;
>>>>>>> 42c4d8ad44d65b112d17b1cc87b839d4d466dae8
}

div > #resultsImg{
  width: 100%;
  /* position: absolute; 
  bottom: 5px; 
  left: 5px;  */
}

p {
  font-size: large;
  /* position: absolute;  */
  right: 5px; 
}

#resultsTopSection {
  width: 90%;
}

#resultsBottomSection {
  /* color: */
  padding-left: 5rem
  /* float: right; */
}

#resultsBottomSection a {
  color:blanchedalmond;
}

.resultBookingSection {
  display: flex;
}

#imgContainer {
  padding-right: 1rem;
  display: flex;
}